@import url(http://fonts.googleapis.com/css?family=Anaheim);

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
	box-sizing: border-box;
}
*:before,
*:after{
	box-sizing: border-box;
}
html,
body{
	min-height: 100%;
}
body{
	background-image: radial-gradient(mintcream 0%, lightgray 100%);
}
h1{
	display: table;
	margin: 5% auto 0;
	text-transform: uppercase;
	font-family: 'Anaheim', sans-serif;
	font-size: 4em;
	font-weight: 400;
	text-shadow: 0 1px white, 0 2px black;
}
.container{
	margin: 4% auto;
	width: 210px;
	height: 140px;
	position: relative;
	perspective: 1000px;
}
#carousel{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
}
#carousel:hover{
	animation-play-state: paused;
}
#carousel figure{
	display: block;
	position: absolute;
	width: 186px;
	height: 116px;
	left: 10px;
	top: 10px;
	background: black;
	overflow: hidden;
	border: solid 5px black;
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

img{
	-webkit-filter: grayscale(1);
	cursor: pointer;
	transition: all .5s ease;
}
img:hover{
	-webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}

/**/

@mixin histogram-styles($color) {
  .histogram-label { color: $color; }
  .histogram-bar   { background-color: $color; }
}

.rating-details-histogram {
  max-width: 500px;
  border-collapse: separate;
  border-spacing: 0 9px;

  /*
   * 1. Force cell to take up all of the available space.
   */
  td {
    width: 100%; // 1
    padding: 0;
    overflow: hidden;
  }

  .histogram-label {
    padding-right: 12px;
  }

  .histogram-bar {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    min-width: 2px;
    text-align: right;
    color: white;
    height: 30px;
    line-height: 30px;
    transform: none;
    transition: all 0.4s ease-out;
    transition-property: transform;
  }

  /*
   * 1. Improves font smoothing for light text on dark backgrounds.
   */
  .text-inside {
    font-smoothing: antialiased; // 1
    font-weight: bold;
    margin-right: 9px;
  }

  .text-outside {
    vertical-align: middle;
    margin-left: 3px;
  }

  /*
   * This class exists so that removing it will cause the histogram bars to
   * transition in all nice and pretty-like.
   */
  &.collapsed .histogram-bar {
    transform: translate3d(-100%, 0, 0);
  }


  /** Bar colors */

  
  .n-8 { @include histogram-styles(#c41000); }
  .n-7 { @include histogram-styles(#c41000); }
  .n-6 { @include histogram-styles(#c41000); }
  .n-5 { @include histogram-styles(#c41000); }
  .n-4 { @include histogram-styles(#eb4a2f); }
  .n-3 { @include histogram-styles(#ee8535); }
  .n-2 { @include histogram-styles(#e5b643); }
  .n-1 { @include histogram-styles(#b87c38); }
  .n-0 { @include histogram-styles(#b87c38); }
}

body {
  margin: 40px;
}

.nowrap {
  white-space: nowrap;
}

td {
  padding: 3px;
}



/*

stadistics

*/


#shiva
{
  width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  float:left;
  margin:5px;
}
.count
{
  line-height: 100px;
  color:white;
  margin-left:30px;
  font-size:25px;
}

#datagrams
{
	position: absolute;
  /*background-color: #234567;*/
    left: 45%;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}